@model IEnumerable<VetsJobFinder.Models.Resume>

@{
    ViewBag.Title = "Index";
}

<h2>Resume Index</h2>

<p>
    @Html.ActionLink("Post a New Resume", "Create", new { area = "" }, new { @class = "btn createJob" })
</p>

<div class="list-group listing">
    @foreach (var item in Model)
    {
        <a class="list-group-item" href="@Url.Action("Details", new { id = item.Id })">
            
            <div>
                <h4>@item.Title</h4>
                <p>@item.Description</p>
            </div>

        </a>
    }
</div>
<div>
    @Html.ActionLink("Back to Dashboard", "Dashboard", "Jobs", new { area = "" }, new { @class = "btn backList" })
    
</div>

